<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>Created By: Shubham Agrawal</p>
    <p>Contact no: 9552855485</p>
    <p>Email: <a>shubhamca143@gmail.com</a></p>
    <p>LinkedIn : <a href="https://www.linkedin.com/in/shubham-agrawal-2144171a0/">Shubham Agrawal</a></p>
  </div>
</ion-content>